<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gieves & Hawkes - <%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/2e41040746.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
</head>
<body>
    <%- include('../partials/header') %>
    
    <main>
        <%- body %>
    </main>

    <%- include('../partials/footer') %>
</body>
</html> 